# your private key on the blockchain the contracts will be deployed to
PRIVATE_KEY=
# beacon chain rpc url
URL=
# 1 for eth mainnet, 5 for Goerli testnet
CHAIN_ID =
# initialize the light client base on the trusted root
TRUSTED_BLOCK_ROOT=